
    .theParent{
    
         background:gray; 
         border: dotted rgb(14, 1, 20) 5px;
    }
    .theChild{
    text-align: center;
    background:yellow;
    margin:5%;
    padding: 20px;
    border: solid green 5px;
    }